body{
    background-color: whitesmoke
}
.History{
    width: 550px;
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
h1{
    color: black;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.App{
    width: 550px;
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
 }
 form{
    float: right;
    position: absolute;

  }
  